<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Gender Prediction</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Record Your Voice</h1>
        <button id="recordButton" class="button">Record</button>
        <button id="stopButton" class="button" disabled>Stop</button>
        <p id="status"></p>
        <p id="result"></p>
    </div>

    <script src="/static/js/script.js"></script>
</body>
</html>
